
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #ff6347;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    max-width: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    padding: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-title {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 10px;
}

.fotos {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.steps {
    text-align: left;
    margin-top: 10px;
}

.steps h4 {
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #555;
}

.steps p {
    margin-bottom: 5px;
    font-size: 0.95em;
    color: #666;
}
